


.ansletter {
    color: blue;
    font-weight: bold;
    display: inline-block;
}

.container {
    width:200px;
    
}

#question {
    width:400px;
}

#results {
    width:400px;
}

#next {
    padding: 1px 10px 1px 10px;
    color: #fff;
    background: #07f;
    border-radius: 3px;
    /* padding: 1px 10px 1px 10px; */
    /* color:#fff; */
    /* background:#7f0; */
    /* border-radius:3px; */
    /* border: 1px outset #7f0; */
}